/**登录后主视图 CSS*/

/*Listed in Alphabatical Order*/
#bighead{
	/* 元素定位 */
	position:absolute;
	margin-top:90px;
	margin-left:43px;
	/* 盒模型 */
	height:70px;
	width:70px;
	display:block;
	/* 盒样式 */
	border-radius:100%;
	cursor:pointer;
}
#block{
	/* 元素定位 */
	position:relative;
	left:79px;
	bottom:5px;
	/* 盒模型 */
	width:80px;
	height:5px;
	/* 盒样式 */
	background:#FEF98D;
	z-index:2;
}
#copyright a:link { 
color:#3AAAF5; 
text-decoration:none; 
} 
#copyright a:visited { 
color:#3AAAF5;
text-decoration:none; 
} 
#copyright a:hover { 
color:#3AAAF5; 
text-decoration:underline; 
} 
#copyright a:active { 
color:#3AAAF5; 
text-decoration:underline; 
} 
#copyright{
	margin:0 auto;
	margin-top:100px;
	/* 盒模型 */
	height:60px;
	/* 字体样式 */
	text-align:center;
	color:#3AAAF5;
	font-size:19px;
	line-height:24px;
}
#content{
	/* 元素定位 */
	position:absolute;
	top:0px;
	/* 盒模型 */
	width:100%;
	height:auto;
	min-height:100%;
	z-index:1;
	/* 盒样式 */
	background:#F9F9F9;
}
#content::-webkit-scrollbar{
	-webkit-appearance: none;
	width: 0px;
	height: 0px;
}
#grey{
	/* 元素定位 */
	position:fixed;
	/* 盒模型 */
	display:none;
	z-index:4;
	width:100%;
	height:100%;
	/* 盒样式 */
	background:#999;
	opacity:0.3;
}
body{
	/* 元素定位 */
	position:absolute;
	/* 盒模型 */
	width:100%;
	height:100%;
	min-width:950px;
	min-height:650px;
	font-family:roboto, "Microsoft YaHei", "微软雅黑", "STHeiti ";
	font-weight:200;
}
input, label, select, option, textarea, button, fieldset, legend {
    font-family:roboto, "Microsoft YaHei", "微软雅黑", "STHeiti ";
	font-weight:200;
}
#layer1{
	/* 盒模型 */
	width:100%;
	height:40px;
	padding:20px 0;
}
#layer2{
	/* 盒模型 */
	width:100%;
	height:40px;
}
#postnew{
	/* 元素定位 */
	float:right;
	position:fixed;
	right:60px;
	bottom:50px;
	/* 盒模型 */
	height:54px;
	width:54px;
	/* 盒样式 */
	border-radius:100%;
	background:#2A97F4;
	cursor:pointer;
	z-index:2;
	box-shadow:0.5px 0.5px 4px #999;
}
#postplus{
	display:inline-block;
	width:54px;
	line-height:54px;
	height:54px;
	color:#FFF;
	font-size:39px;
	text-align:center;
	-webkit-text-size-adjust:none;
}
#reminders{position:relative;right:60px;top:14.5px;float:right;width:550px;padding:0px 15px;background:#FFF;border-radius:2px 2px 2px 2px;box-shadow:0.5px 0.5px 8px #CCCCCC;word-wrap:break-word;font-size:17px;z-index:6;display: none;}
#reminder_ball{position:relative;right:60px;top:14.5px;float: right;width:12px;height: 12px;border-radius: 100%;background:#E5326D;cursor:pointer;}
#reminder_bar{width:550px;margin-top:10px;}
#reminder_label{display:inline-block;font-size:22px;font-family: robotor;color:#7F7F7F;}
#reminder_close{display: inline-block;line-height:25px;font-size:18px;float: right;color:#7F7F7F;cursor: pointer;}
.remind_person{color:#3098F3;font-family: robotor;}
.reminder_content{margin-top:10px;}
.remind_kind{font-family:robotor;}
.remind_title{font-family:robotor;color:#E981A6;}
.reminder_line{margin-top:10px;margin-left:-15px;height:1px;width:580px;;background:#DDD;}
#section{
	/* 元素定位 */
	position:relative;
	top:-6px;
	left:40px;
	/* 盒模型 */
	display:inline-block;
	height:40px;
	/* 字体样式 */
	font-family:roboto;
	font-size:36px;
	color:#FFF;
}
.sections{
	/* 元素定位 */
	position:relative;
	left:100px;
	/* 盒模型 */
	display:inline-block;
	height:40px;
	/* 字体样式 */
	text-align:center;
	line-height:40px;
	font-size:22px;
	color:#FFF;
	font-family:robotor;
	/* 盒样式 */
	cursor:pointer;
}
#section2{
	/* 元素定位 */
	left:150px;
	/* 字体样式 */
	color:#BDE3FC;
}
#section3{
	/* 元素定位 */
	left:200px;
	/* 字体样式 */
	color:#BDE3FC;
}
#section4{
	/* 元素定位 */
	left:250px;
	/* 字体样式 */
	color:#BDE3FC;
}
#sectionfolder{
	/* 元素定位 */
	position:relative;
	left:40px;
	/* 盒模型 */
	height:40px;
	/* 盒样式 */
	cursor:pointer;
}
#section_chooser{
	/* 元素定位 */
	position:absolute;
	top:25px;
	left:79px;
	/* 盒模型 */
	display:none;
	width:220px;
	height:320px;
	/* 盒样式 */
	background:#FFF;
	box-shadow:0.5px 0.5px 8px #CCCCCC;
	z-index:3;
	border-radius:2px 2px 2px 2px;
}
.section_chooser_item{
	/* 元素定位 */
	position:relative;
	left:25px;
	top:35px;
	/* 盒模型 */
	width:180px;
	/* 字体样式 */
	font-size:22px;
	font-family:robotor;
	color:#7F7F7F;
	/* 盒样式 */
	cursor:pointer;
}
#section_chooser_item1{
	/* 字体样式 */
	color:#5DAEF2;
}
#section_chooser_item2{
	/* 元素定位 */
	top:63px;
}
#section_chooser_item3{
	/* 元素定位 */
	top:91px;
}
#section_chooser_item4{
	/* 元素定位 */
	top:119px;
}
#section_chooser_item5{
	/* 元素定位 */
	top:147px;
}

#statusbar{
	/* 元素定位 */
	position:relative;
	/* 盒模型 */
	width:100%;
	height:8px;
	/* 盒样式 */
	background:#2A89D2;
	z-index:2;
}
#topbar{
	/* 元素定位 */
	position:relative;
	/* 盒模型 */
	width:100%;
	height:130px;
	/* 盒样式 */
	background:#3AAAF5;
	z-index:2;
}
#userinfo{
	/* 元素定位 */
	position:absolute;
	right:0px;
	/* 盒模型 */
	display:none;
	height:100%;
	width:0px;
	/* 盒样式 */
	background:#FFF;
	z-index:5;
	box-shadow:15px 15px 40px #666;
}
#userinfo_ur{
	/* 元素定位 */
	float:right;
	position:relative;
	right:50px;
	/* 盒模型 */
	display:inline-block;
	height:40px;
	/* 字体样式 */
	line-height:40px;
	font-size:18px;
	text-align:center;
	color:#FFF;
	font-family:roboto;
	/* 盒样式 */
	cursor:pointer;
}
#userinfo_banner_c{
	/* 元素定位 */
	position:absolute;
	margin-left:10px;
	margin-top:10px;
	/* 盒模型 */
	width:30px;
	height:30px;
	display:block;
	/* 盒样式 */
	cursor:pointer;
}
#userinfo_banner_o{
	/* 元素定位 */
	float:right;
	position:relative;
	right:50px;
	top:5px;
	/* 盒模型 */
	height:30px;
	/* 盒样式 */
	cursor:pointer;
}
#username{
	/* 元素定位 */
	position:absolute;
	margin-top:200px;
	margin-left:40px;
	width:255px;
	/* 字体样式 */
	font-size:25px;
	color:#EF97B4;
	text-align:left;
}
#usersetting1:hover{
	/* 字体样式 */
	color:#5DAEF2;
	/* 其他样式 */
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-property: all;
}
#usersetting2:hover{
	/* 字体样式 */
	color:#5DAEF2;
	/* 其他样式 */
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-property: all;
}
#usersetting3:hover{
	/* 字体样式 */
	color:#5DAEF2;
	/* 其他样式 */
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-property: all;
}
#usersetting4:hover{
	/* 字体样式 */
	color:#5DAEF2;
	/* 其他样式 */
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-property: all;
}#usersetting5:hover{
	/* 字体样式 */
	color:#5DAEF2;
	/* 其他样式 */
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-property: all;
}
#usersetting1{
	/* 元素定位 */
	position:absolute;
	margin-top:300px;
	margin-left:40px;
	width:255px;
	/* 字体样式 */
	font-size:25px;
	color:#646464;
	text-align:left;
	/* 盒样式 */
	cursor:pointer;
}
#usersetting2{
	/* 元素定位 */
	position:absolute;
	margin-top:370px;
	margin-left:40px;
	width:255px;
	/* 字体样式 */
	font-size:25px;
	color:#646464;
	text-align:left;
	/* 盒样式 */
	cursor:pointer;
}
#usersetting3{
	/* 元素定位 */
	position:absolute;
	margin-top:440px;
	margin-left:40px;
	width:255px;
	/* 字体样式 */
	font-size:25px;
	color:#646464;
	text-align:left;
	/* 盒样式 */
	cursor:pointer;
}
#usersetting4{
	/* 元素定位 */
	position:absolute;
	margin-top:510px;
	margin-left:40px;
	width:255px;
	/* 字体样式 */
	font-size:25px;
	color:#646464;
	text-align:left;
	/* 盒样式 */
	cursor:pointer;
}
#usersetting5{
	/* 元素定位 */
	position:absolute;
	margin-top:600px;
	margin-left:40px;
	width:255px;
	/* 字体样式 */
	font-size:25px;
	color:#646464;
	text-align:left;
	/* 盒样式 */
	cursor:pointer;
}
#separateline{
	/* 元素定位 */
	position:absolute;
	margin-top:260px;
	/* 盒模型 */
	width:100%;
	height:1px;
	/* 盒样式 */
	background:#CCC;
}